;;;;
; npm userconfig file
; this is a simple ini-formatted file
; lines that start with semi-colons are comments.
; read `npm help config` for help on the various options
;;;;

@flowdeskmarkets:registry=https://npm.pkg.github.com/FlowDeskMarkets/
//npm.pkg.github.com/FlowDeskMarkets/:_authToken={{ (onepassword "44heb3gwevchjj3llcyxi3ofty").details.password }}

